<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctor waiting page</title>
</head>
<body>
    <h1>
      Patient status
    </h1>
    
    <div>
        <strong>Name:</strong><%= data2.name%><br>
        <strong>Email:</strong><%= data2.email%><br>
        <strong>gender:</strong><%= data2.gender%><br>
        <strong>Phone:</strong><%= data2.phone%><br>
        
        <strong>Symptom:</strong><%= data2.symptom%><br>
        <strong>Doctor:</strong><%= data2.doctor%><br>
        <strong>Status:</strong><span>waiting for doctor counceling</span>
       </div>
        
    
</body>
</html>