<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <p>for user purpose</p>
    <div>
        <strong>Name:</strong><%= data4.name%><br>
        <strong>Email:</strong><%= data4.email%><br>
        <strong>gender:</strong><%= data4.gender%><br>
        <strong>Phone:</strong><%= data4.gender%><br>
        <strong>Department:</strong><%= data4.department%><br>
        <strong>Symptom:</strong><%= data4.symptom%><br>
        <strong>Doctor:</strong><%= data4.doctor%><br>
       <strong>medicine:</strong><br><%= data4.medicine%>
       <strong>Status :</strong>discharged;
       </div>
    


    
    
</body>
</html>