<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <p>for user purpose</p>
    <div>
        <strong>Name:</strong><%= data3.name%><br>
        <strong>Email:</strong><%= data3.email%><br>
        <strong>gender:</strong><%= data3.gender%><br>
        <strong>Phone:</strong><%= data3.gender%><br>
        <strong>Symptom:</strong><%= data3.symptom%><br>
        <strong>Department:</strong><%= data3.department%><br>
        <strong>Doctor:</strong><%= data3.doctor%><br>
       <strong>medicine:</strong><br><%= data3.medicine%>
       </div>
    


    
    
</body>
</html>